<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631439784330-v457l5k3dtu2lr6pue30uca2jqmojvus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631439784330-v457l5k3dtu2lr6pue30uca2jqmojvus</string>
	<key>API_KEY</key>
	<string>AIzaSyDTikRMwOiTxOLOsYRIis2m4t7TmbcDYnM</string>
	<key>GCM_SENDER_ID</key>
	<string>631439784330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feedbackApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>feedback-app-444</string>
	<key>STORAGE_BUCKET</key>
	<string>feedback-app-444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631439784330:ios:2aad228e2874a5a51b3073</string>
	<key>DATABASE_URL</key>
	<string>https://feedback-app-444-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>